@font-face {
  font-family: "Pixel-Art";
  src: url("./fonte/fonte.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Pixel-Art";
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  color: #3a181a;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
  background-image: url(./img/background.png);
  background-repeat: repeat-x;
  background-color: #d1d2e6;
  height: 100vh;
}

.cima {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo {
  position: fixed;
  z-index: 9999;
}
.perfil {
  margin-top: 45px;
  background-image: url(./img/borda-menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 18.75rem;
  width: 30rem;
  justify-content: center;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
}

.descricao p {
  font-size: 0.9rem;
  width: 20ch;
}

.descricao h1 {
  font-size: 1.3rem;
}

figure {
  padding-bottom: 90px;
}

h1 {
  color: white;
  font-size: 1.5rem;
}

p {
  color: white;
  font-size: 0.9rem;
}

li {
  color: #3a181a;
}

.caixinhas {
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
}
.caixinhas img {
  max-width: 50px;
}

nav {
  margin-right: 25px;
}
ul.links {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
}

li a {
  display: flex;
  gap: 5px;
  align-items: center;
}

.gitHub,
.linkedin {
  position: relative;
}

.gitHub::after,
.linkedin::after {
  content: "";
  display: block;
  height: 3px;
  width: 0px;
  position: absolute;
  top: 18px;
  left: 0;
  background-color: black;
  transition: 0.3s;
}

.gitHub:hover::after,
.linkedin:hover::after {
  width: 100%;
}

/* ----------------------------------- */

.baixo {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  width: 100%;
  z-index: 3;
  position: relative;
}

.bau img {
  min-width: 50%;
}
.hide {
  display: none;
}

.qualquer {
  width: 100%;
  height: 100%;
  position: relative;
}

.baus {
  display: flex;
  gap: 100px;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  align-items: flex-end;
  bottom: 60px;
  padding-left: 30px;
  /* overflow-x: auto; FICA COM UM SCROLL EM BAIXO DOS BAUS */
}

.baus::after {
  content: "";
  display: block;
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url(./img/blocos/blocomeio-copiar.png);
  background-size: 110px;
  background-repeat: repeat-x;
  transition: 0.3s;
  z-index: -2; /* alteração */
}

@media (max-width: 500px) {
  body {
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .perfil {
    margin-top: 20px;
    height: 14.75rem;
    width: 22rem;
  }

  figure img {
    width: 100px;
    margin-left: 10px;
    margin-top: 30px;
  }

  .descricao h1 {
    font-size: 1.1rem;
  }

  .descricao {
    width: 150px;
    margin-top: 30px;
  }
  .descricao p {
    font-size: 0.8rem;
    width: 20ch;
  }

  .caixinhas {
    padding-bottom: 24px;
    margin-left: 20px;
    margin-top: 10px;
  }
  .caixinhas img {
    max-width: 40px;
  }

  ul {
    width: 100%;
  }
  ul.links {
    margin-left: 12px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 30px;
  }

  .baus img {
    width: 250px;
  }

  .baus {
    gap: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
